.info-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.info-box header {
  text-align: center;
  font-size: 1.4rem;
}

.info-box__content {
  padding-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  padding: 1rem;
  font-weight: bold;
  color: var(--primary);
}