@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

/***********************************
    GLOBAL VARIABLES
***********************************/
:root {
  --primary: #ffd369;
  --secondary: #222831;
  --grey: #393e46;
  --white: #eeeeee;
  
  --max-width: 1080px;
  --navHeight: 50px;
  --menuOpenWidth: 70%;
}

/***********************************
    GLOBAL STYLES
***********************************/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--white);
}

/***********************************
    UTILITY CLASS
***********************************/

.box {
  width: 100%;
  background: var(--secondary);
  padding: 1rem;
  border-radius: 8px;
  margin-bottom: 1rem;
}

.space-even {
  display: flex;
  justify-content: space-evenly;
}