@media ( max-width: 820px ) {
  /* .header {
    flex-direction: column;
  }

  .header label {
    display: block;
    text-align: center;
  }

  .header__select {
    width: 100%;
  }

  select {
    width: inherit;
  } */

  aside {
    margin-bottom: 1rem;
  }

}


@media ( max-width: 480px ) {
  .card__content {
    display: block;
  }
}