@media (min-width: 821px) {
  div.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  div.header__logo {
    width: 350px;
  }

  div.header__select {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  div.header__select select {
    width: max-content;
  }

  div.app__grid {
    width: 100%;
    height: 90vh;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 2fr) 4fr;
    grid-gap: 8px;
  }

  aside.aside {
    grid-area: 1 / 1 / 4 / 3;
    display: grid;
  }
  div.card1 {
    grid-area: 1 / 3 / 2 / 4;
  }
  div.card2 {
    grid-area: 2 / 3 / 3 / 4;
  }
  div.card3 {
    grid-area: 3 / 3 / 4 / 4;
  }
  div.map {
    grid-area: 4 / 1 / 5 / 4;
  }

  .map-container {
    height: auto;
  }

  div.card {
    margin-bottom: 0;
  }

  div.graph-container {
    overflow: hidden;
    width: 100%;
    height: 400px;
  }

  div.table {
    height: auto;
  }

  div.table td,
  div.table th {
    padding: 0.25rem;
    font-size: 0.8rem;
  }
}
